nav {
    background-color: var(--main-color);
    height: 8vh;
    width: 100vw;
}

h1, h3 {
    font-family: Helvetica, sans-serif;
    padding: 10px;
    padding-bottom: 0;
    color: var(--main-text-color);
}

h1 {
    font-size: 2vw;
}

h3 {
    font-size: 1.5vw;
}

.button-container {
    width: 12vw;
    margin: 10px;
    margin-bottom: 0;
}
  
.button-container Button {
    width: 100%;
} 

.nav-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-header {
    display: flex;
    justify-content: center;
    padding: 10px;    
}

.card {
    width: 80vw;
    height: 80vh;
    margin: auto;
}
